.ms_education-pursued {
    color: var(--gray-shade);
    padding: 3rem 0rem;
}

.ms_ep-inner-container {
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;
    width: 100%;
}

.ms_ep-inner-container>* {
    width: 100%;
}

.mp_education {
    display: flex;
    font-size: 0.9rem;
}

.mp_education h4 {
    width: 30%;
}

.mp_education p {
    width: 70%;
}

@media only screen and (max-width: 580px) {
    .mp_education {
        gap: 4rem;
    }
}